# executaveis e desativados
*.jar 
*.zip
*.disabled

# ignorar arquivos temporarios
.fabric/
.mixin.out/
## antes q esqueca o packwiz installer pode ta ignorado tambem

# ignorar dados locais do minecraft vanilla
saves/
logs/
crash-reports/
shaderpacks/
screenshots/
usercache.json
usernamecache.json
options.txt

# ignorar dados locais do minecraft modficiado
.cosmetica/


servers.dat
servers.dat_old

# ignorar possiveis cache do packwiz
.packwiz/
packwiz.json